* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: .5em;
  justify-self: center;
  align-self: flex-start;

  height: 400px;
  width: 400px;
  margin: 0;

}
