* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cell {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 1em;
}

#gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
